:host {
  padding: 10px;
  box-sizing: border-box;
  display: block;
}

.close{
  float: right;
  cursor: pointer;
}

.card {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}

app-game-result-icon{
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}