:host {
  padding: 10px;
  margin: 5px;
  display: block;
}
.close{
  float: right;
  cursor: pointer;
}

.card {
  max-width: 100%;
}

game-result-icon{
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}